<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %level %class{36} %L %M - %m%ex%n" />
        </Console>
        <File name="test_file" fileName="test.out">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %m%n%ex%n" />
        </File>
    </appenders>
    <loggers>
        <root level="off">
            <appender-ref ref="Console" />
        </root>
        <logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_NON_STATEMENT" onMatch="DENY" onMismatch="NEUTRAL"/>
            <appender-ref ref="Console"/>
        </logger>
    </loggers>
</configuration>